<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hecate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/slo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HECATE">
        <activity android:name=".AppDisguise"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HECATE">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/slo"
            android:enabled="true"
            android:targetActivity=".MainActivity"
            android:name=".SplashActivityAlias1"><!--put any random name started with dot-->
            <!--target activity class path will be same for all alias-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- <activity-alias used to change app icon dynamically>  : sale icon, set enabled false initially -->
        <activity-alias
            android:label="Coffee Recipes"
            android:icon="@mipmap/food"
            android:roundIcon="@mipmap/food_round"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:name=".SplashActivityAlias"><!--put any random name started with dot-->
            <!--target activity class path will be same for all alias-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".Timer" />
        <activity android:name=".ReceivedCall" />
        <activity android:name=".IncomingCall" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Dashboard" />
        <activity android:name=".UserInformation" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>
</manifest>